.minheight100vh {
  min-height: calc(100vh - 145px);
}

.my-profileView-left img {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.2);
  border-radius: 50%;
}

.my-profileView-left {
  color: #555555;

  h4 {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
  }

  p {
    margin-bottom: 0px;
    font-size: 12px;

    strong {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    a {
      font-size: 13px;
    }
  }
}

.my-profileView-right {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 30px 15px;

  i {
    color: #919191;
    font-size: 54px;
    padding: 10px 0;
  }

  h4 {
    font-size: 16px;
    color: #555555;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 700;
  }

  p {
    color: #555555;
    font-size: 12px;
    margin: 0px;

    a {
      color: #1F7AF5;
      font-size: 10px;
    }
  }

  .principleImg {
    img {
      width: 75px;
      height: 75px;
      border: 2px solid #fff;
      box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.2);
      border-radius: 50%;
    }
  }
}

.profileimgEdit {
    padding: 0 30px;
    text-align: center;
    max-width: 220px;
    input {
        position: absolute;
        width: 1px;
        overflow: hidden;
        height: 1px;
    }
    label {
        color: #1F7AF5;
        font-size: 13px;
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        i {
            font-size: 22px;
            color: #919191;
            margin-right: 7px;
        }
    }
}

@media screen and (max-width:991px) {
    .my-profileView-left .media {
        display: inline-block;
        text-align: center;
    }    
    .my_profile-editMode  .media {
        text-align: left;
    }    
}