<app-growler>
</app-growler>
<app-header></app-header>
<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="inner-container headerTopPaddipad">
        <div class="header_left-part">
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <!-- <input type="text" class="projectTitleInputBox" value="Chifley Corporation (Matt Tench)"> -->
                    <h3>My Profile > View Mode</h3>

                    <button class="btn btn-primary themeBtnBlue">Edit</button>
                </div>
            </div>
        </div>

        <div class="white_box-body minheight100vh">

            <div class="my_profile-outer pt-3">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="my-profileView-left">
                            <div class="media mb-3">
                                <img src="assets/images/dummy-img.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h4 class="mt-0"><strong>Matt Tench</strong></h4>
                                    <p>Technology Director</p>
                                    <p><a href="mailto:matt.tench@chifleycorporation.com.au">matt.tench@chifleycorporation.com.au</a></p>
                                    <p><strong>Chifley Corporation</strong></p>
                                    <p>
                                        Bio:<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="my-profileView-right">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    <h4>Chifley Corporation</h4>
                                    <p><a href="https://www.chifleycorporation.com.au" target="_blank">www.chifleycorporation.com.au</a></p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="d-inline-block principleImg"><img src="assets/images/dummy-img.png" class="m-0" alt="..."></div>
                                    <h4>Geoff Campbell</h4>
                                    <p>Principal</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="my_profile-myproject-outer normal_table-outer">
                            <h2>My Projects</h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Type</th>
                                            <th>Individual/Group</th>
                                            <th>Owner</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Chifley Corporation (Executive Team)</td>
                                            <td>Strategic Operating Plan</td>
                                            <td><img src="assets/images/group-sop-icon.png" height="25"></td>
                                            <td>Geoff Campbell</td>
                                            <td>Active <a href="javascript:Void(0)" class="pull-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chifley Corporation (Matt Tench)</td>
                                            <td>Strategic Operating Plan</td>
                                            <td><img src="assets/images/individual-sop-icon.png" height="25"></td>
                                            <td>Matt Tench</td>
                                            <td>Active <a href="javascript:Void(0)" class="pull-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chifley Corporation (Executive Team)</td>
                                            <td>Stakeholder Feedback Report</td>
                                            <td><img src="assets/images/group-sop-icon.png" height="25"></td>
                                            <td>Geoff Campbell</td>
                                            <td>Active <a href="javascript:Void(0)" class="pull-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chifley Corporation (Technology Team)</td>
                                            <td>Strategic Operating Plan</td>
                                            <td><img src="assets/images/group-sop-icon.png" height="25"></td>
                                            <td>Matt Tench</td>
                                            <td>Archived <a href="javascript:Void(0)" class="pull-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



            <div class="my_profile-outer my_profile-editMode pt-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="my-profileView-left">
                            <div class="media mb-3">
                                <div class="profileimgEdit">
                                    <img src="assets/images/dummy-img.png" class="" alt="...">
                                    <label for="editProfilePic">
                  <i class="fa fa-upload"></i> Upload Photo
                  <input type="file" class="" id="editProfilePic">
                </label>
                                </div>
                                <div class="media-body">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>YOUR NAME</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>YOUR NAME</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>YOUR NAME</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>OLD PASSWORD</label>
                                                        <input class="form-control" type="password">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>NEW PASSWORD</label>
                                                        <input class="form-control" type="password">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>RE-ENTER NEW PASSWORD</label>
                                                        <input class="form-control" type="password">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>BIO</label>
                                                <textarea rows="5" class="form-control"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button class="btn btn-primary themeBtnBlue"> Save </button>
                                            <button class="btn btn-light ml-2"> Cancel </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>