.header_body {
    background: #ffffff;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
    padding: 10px 15px;
    width: calc(100% - 248px);
    float: right;
    border-bottom: 1px solid #CCCCCC;
    position: fixed;
    right: 0;
    z-index: 9999;
    .header_userDetail {
        margin-top: 5px;
        margin-right: 10px;
        p,
        a {
            margin: 0px;
            font-size: 12px;
            color: #555555;
            font-weight: 700;
            span {
                font-size: 14px;
            }
        }
    }
    .headeruserImg {
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        box-shadow: 0 0 4px 2px rgba(100, 100, 100, 0.2);
        border-radius: 50%;
        overflow: hidden;
        vertical-align: top;
        img {
            width: 100%;
            height: 50px;
            object-fit: cover;
        }
    }
}

.largeFontSize {
    a {
        font-size: 30px !important;
    }
}