<header class="header_body" *ngIf="isLoggedIn == 'true'">
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
            <div class="header__topbar-wrapper text-right headerTopPaddipad">
                <div class="d-inline-block text-right header_userDetail">
                    <p class="largeFontSize"><a href="javascript:void(0);" (click)="onLogout()"><i class="fa fa-power-off pr-2" aria-hidden="true"></i></a></p>
                </div>
                <div class="d-inline-block text-right header_userDetail">
                    <p class=""> <span><a href="javaScript:void()"><i class="fa fa-pencil" aria-hidden="true"></i></a> {{username}}</span></p>
                    <p class="">{{useremail}}</p>
                </div>

                <div class="d-inline-block headeruserImg">
                    <img alt="Pic" src="../../../assets/images/user-img.jpg">
                </div>
            </div>
        </div>
    </div>
</header>