/*Dashboard*/

.white_box-body {
    .white_box-content {
        padding: 15px 15px;
        .white_box-content-box {
            border: 1px solid #707070;
            border-radius: 8px;
            min-height: 100%;
            padding-bottom: 50px;
            position: relative;
            display: inline-block;
            width: 100%;
            color: #555;
            &:hover {
                text-decoration: none;
                box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.2);
            }
            .white_box-content-box-TopContent {
                padding: 15px;
                .centerIcon {
                    margin: 30px 0 30px 0;
                    p {
                        color: #555555;
                        font-size: 13px;
                        font-weight: 300;
                        margin: 10px 0 15px 0;
                    }
                    img {
                        max-width: 100%;
                        height: 45px;
                    }
                }
            }
        }
        .greenBg {
            background: #56af59;
        }
        .orangeBg {
            background: #f7a34f;
        }
        .white_box-content-box-footer {
            padding: 10px;
            border-radius: 0 0 7px 7px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            h3 {
                margin: 0px;
                color: #fff;
                font-weight: 700;
                font-size: 15px;
                text-align: center;
                span {
                    display: inline-block;
                    width: calc(100% - 25px);
                    line-height: 15px;
                }
                a {
                    color: #fff;
                    font-size: 20px;
                    float: right;
                    padding: 0 5px;
                    &::after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    right: 15px;
                    left: auto !important;
                    transform: none !important;
                    border: none;
                    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
                    a {
                        color: #919191;
                        font-size: 12px;
                        padding: 8px 15px;
                        line-height: normal;
                        i {
                            font-size: 16px;
                            margin-right: 10px;
                        }
                        &:hover,
                        &:focus {
                            background: #486988;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.createFromTemplateBox {
    width: 250px !important;
    max-width: 100%;
    display: inline-block;
    h3 {
        font-size: 16px;
        color: #555555;
        font-weight: 300;
        margin-top: 15px;
        line-height: 15px;
    }
    .centerIcon {
        img {
            max-width: 100%;
            height: 60px !important;
        }
    }
}

.createFromScratch {
    font-size: 18px;
    color: #555555;
    display: inline-block;
    padding: 20px 0;
    i {
        margin-right: 8px;
    }
    &:hover {
        text-decoration: none;
    }
    .white_box-content-box {
        cursor: pointer !important;
    }
}