<app-growler>
</app-growler>
<app-header></app-header>

<div class="loaderOuter" *ngIf="showLoder">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>

<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="inner-container">

        <div class="white_box-body">

            <h2>
                <a href="javaScript:void()" (click)="sectionToggle1 = !sectionToggle1"> <i class="fa fa-angle-down" aria-hidden="true"></i> Active Projects </a>
            </h2>
            <div *ngIf="activeProjectList.length == 0">
                <div class="col-md-12">
                    <div class="text-center no-recod-box">
                        <p>No record found </p>
                    </div>
                </div>
            </div>

            <div class="white_box-content" [ngClass]="{'d-none' : !sectionToggle1}">
                <div class="row">

                    <div *ngFor="let project of activeProjectList" class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                        <div class="white_box-content-box">
                            <div class="white_box-content-box-TopContent">
                                <p class="text-center">{{project.title}}</p>

                                <div class="text-center centerIcon">
                                    <img *ngIf="project.is_group == 0" src="../../../assets/images/individual-sop-icon.png" alt="icon">
                                    <img *ngIf="project.is_group == 1" src="../../../assets/images/group-sop-icon.png" alt="icon">
                                    <p>
                                        <span *ngIf="project.is_group == 0">Individual</span>
                                        <span *ngIf="project.is_group == 1">Group</span>
                                        <span *ngIf="project.project_type == 0">  SOP</span>
                                        <span *ngIf="project.project_type == 1">  SFR</span>
                                    </p>

                                </div>
                                <p class="mb-0"><small><strong>Owner:</strong>{{project.owner_name}}</small></p>

                            </div>
                            <div class="white_box-content-box-footer greenBg">
                                <h3 class="dropdown"><span *ngIf="project.project_type == 0">Strategic Operating Plan</span>
                                    <span *ngIf="project.project_type == 1">Stakeholder Feedback Report</span>
                                    <a href="javaScript:void()" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" routerLink="/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                            Project</a>
                                        <a class="dropdown-item" routerLink="/project-settings/{{project.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                                Project Setting</a>
                                        <a class="dropdown-item" routerLink="/"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy
                                            Project</a>
                                        <a class="dropdown-item" routerLink="/"><i class="fa fa-user-plus" aria-hidden="true"></i> Add
                                            participant</a>
                                        <a class="dropdown-item" routerLink="/"><i class="fa fa-archive" aria-hidden="true"></i> Archive
                                            project</a>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>




        </div>

        <div class="white_box-body mt-4">
            <h2>
                <a href="javaScript:void()" (click)="sectionToggle2 = !sectionToggle2"> <i class="fa fa-angle-down" aria-hidden="true"></i> Create from template </a>
            </h2>
            <div class="white_box-content" [ngClass]="{'d-none' : !sectionToggle2}">
                <div class="row">

                    <div *ngFor="let template of templatesList" class="col-sm-6 col-lg-4 col-xl-3 text-center mb-3">
                        <a routerLink="/project-settings" (click)="projectType(template.is_group,template.project_type)" class="white_box-content-box createFromTemplateBox">
                            <div class="white_box-content-box-TopContent">

                                <div class="text-center centerIcon">
                                    <img *ngIf="template.is_group == 0" src="../../../assets/images/individual-sop-icon.png" alt="icon">
                                    <img *ngIf="template.is_group == 1" src="../../../assets/images/group-sop-icon.png" alt="icon">
                                    <h3>
                                        <span *ngIf="template.is_group == 0">Individual </span>
                                        <span *ngIf="template.is_group == 1">Group </span>
                                        <span *ngIf="template.project_type == 0"> SOP</span>
                                        <span *ngIf="template.project_type == 1"> SFR</span>
                                    </h3>
                                </div>

                            </div>
                            <div *ngIf="template.project_type == 0" class="white_box-content-box-footer greenBg">
                                <h3>Strategic Operating Plan </h3>

                            </div>
                            <div *ngIf="template.project_type == 1" class="white_box-content-box-footer orangeBg">
                                <h3>Stakeholder Feedback Report </h3>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 mt-3">
                        <a routerLink="/project-settings" class="createFromScratch"><i class="fa fa-plus" aria-hidden="true"></i> Create from scratch </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>