<div class="inner-container headerTopPaddipad">
  <div class="header_left-part">
    <div class="row">
      <div class="col-lg-10 col-xl-8">
        <h3>Client</h3>
      </div>
    </div>
  </div>

  <div class="white_box-body minheight100vh ">
    <div class="client-outer pt-3">
      <div class="row justify-content-center mb-3">
        <div class="col-md-5">
          <ng-select class="form-control" [items]="cities" bindLabel="name" placeholder="Search for an organisation"
            [(ngModel)]="selectedCity">
          </ng-select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="normal_table-outer client_table-outer">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="30px" class="br-bottomNone"></th>
                    <th>Organisation</th>
                    <th># SOP’s</th>
                    <th># SFR’s</th>
                    <th># Participants</th>
                    <th>Principal</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="bg-white"> <a href="#"><i class="fa fa-caret-down"></i></a> </td>
                    <td>Chifley Corporation</td>
                    <td>2</td>
                    <td>1</td>
                    <td>15</td>
                    <td>Geoff Campbell</td>
                    <td>In Progress</td>
                  </tr>


                  <tr class="clientMore-body">
                    <td class="bg_white"></td>

                    <td colspan="5" class="bg_white inner_client-table">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Project</th>
                            <th>Type</th>
                            <th>Individual / Group</th>
                            <th>Owner</th>
                            <th>Status</th>
                            <th># Participants</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Chifley Corporation (Matt’s personal SOP)</td>
                            <td>Strategic Operating Plan</td>
                            <td><img src="../../../assets/images/group-sop-icon.png" width="20px" alt="icon"> </td>
                            <td>Geoff Campbell</td>
                            <td>Active</td>
                            <td>10</td>
                          </tr>
                          <tr>
                            <td>Chifley Corporation (Matt’s personal SOP)</td>
                            <td>Strategic Operating Plan</td>
                            <td><img src="../../../assets/images/group-sop-icon.png" width="20px" alt="icon"> </td>
                            <td>Geoff Campbell</td>
                            <td>Active</td>
                            <td>10</td>
                          </tr>
                          <tr>
                            <td>Chifley Corporation (Matt’s personal SOP)</td>
                            <td>Strategic Operating Plan</td>
                            <td><img src="../../../assets/images/group-sop-icon.png" width="20px" alt="icon"> </td>
                            <td>Geoff Campbell</td>
                            <td>Active</td>
                            <td>10</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>

                    <td class="bg_white"></td>
                  </tr>


                  <tr>
                    <td class="bg-white"> <a href="#"><i class="fa fa-caret-right"></i></a> </td>
                    <td>Chifley Corporation</td>
                    <td>2</td>
                    <td>1</td>
                    <td>15</td>
                    <td>Geoff Campbell</td>
                    <td>In Progress</td>
                  </tr>
                  <tr>
                    <td class="bg-white"> <a href="#"><i class="fa fa-caret-right"></i></a> </td>
                    <td>Chifley Corporation</td>
                    <td>2</td>
                    <td>1</td>
                    <td>15</td>
                    <td>Geoff Campbell</td>
                    <td>In Progress</td>
                  </tr>
                  <tr>
                    <td class="bg-white"> <a href="#"><i class="fa fa-caret-right"></i></a> </td>
                    <td>Chifley Corporation</td>
                    <td>2</td>
                    <td>1</td>
                    <td>15</td>
                    <td>Geoff Campbell</td>
                    <td>In Progress</td>
                  </tr>
                  <tr>
                    <td class="bg-white"> <a href="#"><i class="fa fa-caret-right"></i></a> </td>
                    <td>Chifley Corporation</td>
                    <td>2</td>
                    <td>1</td>
                    <td>15</td>
                    <td>Geoff Campbell</td>
                    <td>In Progress</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="white_box-body minheight100vh">

    <div class="client_detail-outer pt-3">
      <div class="row">
        <div class="col-lg-12">
          <div class="my-profileView-left">
            <div class="media mb-3">
              <div class="profileimgEdit">
                <img src="../../../assets/images/corporation-dummy-img.png" class="" alt="...">
                <label for="editProfilePic">
                  <i class="fa fa-upload"></i> Upload Photo
                  <input type="file" class="" id="editProfilePic">
                </label>
              </div>
              <div class="media-body ">

                <div class="row">

                  <div class="col-md-6">
                    <h2>Chifley Corporation <a href="#"><i class="fa fa-edit"></i></a></h2>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>COMPANY RELATIONSHIP MANAGER</label>
                      <select class="form-control">
                        <option>John Platt</option>
                        <option>John Platt</option>
                        <option>John Platt</option>
                        <option>John Platt</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="row align-items-center">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Summary of engagement</label>
                      <textarea rows="4" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      </textarea>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Organisation Active?</label>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div class="white_box-body minheight100vh">

    <div class="client_detail-outer pt-3">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="mb-2">Client Users Across Projects</h2>
          <div class="table-responsive normal_table-outer client_Users_AP-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Title</th>
                  <th>Email Address</th>
                  <th>User Active?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Geoff Gorman</td>
                  <td>Chief Executive Officer</td>
                  <td>geoff.g@chifleycorporation.com.au</td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Geoff Gorman</td>
                  <td>Chief Executive Officer</td>
                  <td>geoff.g@chifleycorporation.com.au</td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Geoff Gorman</td>
                  <td>Chief Executive Officer</td>
                  <td>geoff.g@chifleycorporation.com.au</td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><input type="text" placeholder="+ Add User" ></td>
                  <td><input type="text" placeholder="Title" ></td>
                  <td><input type="text" placeholder="Email Address" ></td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
