.client-outer {
  padding: 15px;
}

.ng-select.form-control {
  padding: 0px;
  border: 0px;
}

.ng-select.form-control div.ng-select-container {
  border-radius: 20px;
}

.client_table-outer {
  th {
    &:first-child {
      border-bottom: none !important;
      border-top: none !important;
    }
  }

  td {
    a {
      i {
        font-size: 22px;
        color: #919191;
      }
    }

    &:first-child {
      border-bottom: none !important;
      border-top: none !important;
    }
  }
}

.inner_client-table {
  table {
    border-collapse: separate;
    border-spacing: 0px 2px;

    thead {
      th {
        background: #fff;
        font-size: 10px;
        border-bottom: none !important;
      }
    }

    tbody {
      td {
        background: #d4e2ef;
        border-bottom: none !important;

        &:first-child {
          border-left: 7px solid #286DAD;
          border-bottom: none !important;
        }
      }
    }
  }
}


.profileimgEdit {
  padding: 0 30px;
  text-align: center;
  max-width: 220px;

  input {
    position: absolute;
    width: 1px;
    overflow: hidden;
    height: 1px;
  }

  label {
    color: #1F7AF5;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin-top: 15px;

    i {
      font-size: 22px;
      color: #919191;
      margin-right: 7px;
    }
  }
}
.my-profileView-left {
  textarea {
    font-size: 12px;
    line-height: 22px;
  }
}
.my-profileView-left img {
  width: 150px;
  height: 150px;
  border: 2px solid #fff;
  box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.2);
  border-radius: 50%;
}

.client_detail-outer {
  h2 {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
  }
}

.client_Users_AP-table {
  table {
    border-collapse: separate;
    border-spacing: 0px 2px;

    tbody {
      tr {
        td {
          background: #fff;
          color: #555555;
          border: none;

          &:first-child {
            border-left: 6px solid #0B3760;
          }
        }

        &:last-child {
          td {
            input {
              width: 100%;
              font-size: 12px;
              color: #919191;
              border: none;
              text-align: center;
            }

            &:first-child {
              input {
                text-align: left;
              }
            }
          }

          td:first-child {
            border-left: 6px solid #859baf;
          }
        }
      }
    }
  }
}

@media screen and (max-width:991px) {
  .my_profile-editMode .media {
    text-align: left;
  }
}
