.settingTabs {
  ul.nav {
    background: #fff;
  }
}

.project_settings-table {
  th {
    border-top: none;
  }

  td {
    padding: 5px 10px;

    &:first-child {
      border-left: 8px solid #0B3760;
    }

    p {
      color: #555555;
      font-size: 13px;
      font-weight: 700;
    }

    span {
      font-size: 11px;
      color: #919191;
    }
  }

  tr:last-child {
    td {
      border-bottom: 1px solid #dee2e6;

      &:first-child {
        border-left: 8px solid #0B376080;
      }
    }
  }
}

.addNewUserTextBox {
  border: none;
  width: 100%;
  height: 40px;
}

.max-width400 {
  max-width: 450px;
}

.max-width400.ng-select {
  max-width: 450px;
}

.ng-select.form-control {
  padding: 0px;
  border: 0px;
}
