<aside class="leftNav themeBg" *ngIf="isLoggedIn == 'true'">
    <nav>
        <div class="navcollapseIcon">
            <a href="javaScript:void(0)" onclick="myFunction()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
        <div class="navLogo">
            <a routerLink="/"> <img src="assets/images/Adelante-Logo.png" alt="logo" class="img-fluid mt-3"> </a>
        </div>
        <ul>
            <li><a href="javascript:void(0)"><i class="fa fa-table" aria-hidden="true"></i> <span>Projects</span></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i> <span>Settings</span></a></li>
        </ul>
    </nav>
</aside>