

.strategic_priority-Table {
  border-spacing: 4px;
  border-collapse: separate;

  .dropdown {
    .dropdown-menu {
      a {
        color: #919191;
        font-size: 12px;
        padding: 8px 15px;
        line-height: normal;

        &:hover {
          background: #486988;
          color: #fff;
        }

        i {
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }

    a {
      &::after {
        display: none;
      }
    }
  }

  th {
    color: #0B3760;
    font-size: 16px;
    padding: 5px 10px;

    &.titleThIcon i {
      padding: 0 1px;
      display: inline-block;
      color: #919191;
    }

    a {
      color: #0B3760;
    }
  }



  .strategic_priority-tbody {
    .brleftBlue {
      border-left: 4px solid #859baf;
    }

    td {
      background: #fff;
      border-top: none;
      padding: 8px 8px;

      &:first-child {
        background: none;
      }

      input {
        border: none;
        min-width: 150px;
        width: 100%;
      }

      p {
        font-size: 13px;
        line-height: 15px;
        color: #555555;
      }
    }
  }
}

.widthFull {
  width: 100%;
}

.width45per {
  width: 45%;
}

.rating1bg {
  background: #e88080;
  color: #fff;
}

.rating2bg {
  background: #df7960;
  color: #fff;
}

.rating3bg {
  background: #ed702e;
  color: #fff;
}

.rating4bg {
  background: #f89c6b;
  color: #fff;
}

.rating5bg {
  background: #f7a34f;
  color: #fff;
}

.rating6bg {
  background: #c3a648;
  color: #fff;
}

.rating7bg {
  background: #b1b248;
  color: #fff;
}

.rating8bg {
  background: #95b248;
  color: #fff;
}

.rating9bg {
  background: #7eaf56;
  color: #fff;
}

.rating10bg {
  background: #56af59;
  color: #fff;
}

.strategic_priority-viewMode td p {
  text-align: center;
  margin: 3px;
}

.strategic_priority-viewMode input {
  text-align: center;
  margin: 0px;
}

.strategic_priority-viewMode td {
  padding: 0;

  &.text-left {
    p {
      text-align: left;
    }
  }

}

.ratingBoxBlank {
  border: 1px solid #707070 !important;
}

.widthSefix {
  width: 180px;
}

.strategicIntTitle {
  background: #d6e8ff !important;
}

.strategicSuccessNote {
  background: #E3FDE4 !important;
}

mat-slider {
  width: 300px;
}
.mat-slider-horizontal .mat-slider-ticks {
  height: 5px;
  width: 100%;
}