.sfp_project-title {
  color: #0B3760;
  font-size: 20px;
  font-weight: 700;
}

.sfp_project-title a {
  color: #555555;
  font-size: 20px;
  font-weight: 700;
}

.sfp_project_header-outer {
  .form-group {
    label {
      color: #919191;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.switcherOuter-body span {
  color: #555555;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.switchToggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.switchToggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  max-width: 50px;
  height: 22px;
  background: #d1d1d1;
  display: block;
  border-radius: 100px;
  position: relative;
}

.switchToggle label:after {
  content: '';
  position: absolute;
  top: 0px;
  border: 1px solid #ddd;
  left: 0px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.switchToggle input:checked+label,
.switchToggle input:checked+input+label {
  background: #0C71BB;
}

.switchToggle input+label:before,
.switchToggle input+input+label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 35px;
  width: 22px;
  height: 22px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
}

.switchToggle input:checked+label:before,
.switchToggle input:checked+input+label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 10px;
  width: 22px;
  height: 22px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
}

.switchToggle input:checked+label:after,
.switchToggle input:checked+input+label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
}

.switchToggle label:active:after {
  width: 60px;
}

.toggle-switchArea {
  margin: 10px 0 10px 0;
}


.sfpProject_table-outer {
  table {
    width: 100%;

    tbody {
      tr {
        background: #F8F8F8;
        border-bottom: 5px solid #fff;

        td {
          padding: 5px 5px;

          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }

  th {
    color: #919191;
    font-size: 13px;
    padding: 4px 5px;
    text-align: center;
    min-width: 35px;

    small {
      font-size: 9px;
      border-bottom: 1px solid #ddd;
      display: inline-block;
      width: 100%;
    }

    span {
      color: #0B3760;
      font-weight: 700;
      font-size: 16px;
    }
  }

  td {
    color: #919191;
    font-size: 12px;
    font-weight: 300;
    text-align: center;

    i.fa-arrow-up {
      color: #48B24C;
    }

    i.fa-arrow-down {
      color: #FF0000;
    }

    i.fa-arrow-down.downRight_angle {
      color: #F7A34F;
      transform: rotate(-45deg);
    }

    i.fa-arrow-up.upRight_angle {
      color: #48B24C;
      transform: rotate(45deg);
    }

    span {
      font-size: 15px;
      color: #0B3760;
      font-weight: 700;
      text-align: left;
      display: inline-block;
      width: 100%;
    }

    a {
      font-size: 15px;
      color: #919191;
    }
  }
}

.current_Result_Bar-Bg {
  background: #286dad;
  background: -moz-linear-gradient(top, #286dad 0%, #003667 100%);
  background: -webkit-linear-gradient(top, #286dad 0%, #003667 100%);
  background: linear-gradient(to bottom, #286dad 0%, #003667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#286dad', endColorstr='#003667', GradientType=0);
}

.compareMonth_Result_Bar-Bg {
  background: #9fd1ff;
  background: -moz-linear-gradient(top, #9fd1ff 0%, #5281aa 100%);
  background: -webkit-linear-gradient(top, #9fd1ff 0%, #5281aa 100%);
  background: linear-gradient(to bottom, #9fd1ff 0%, #5281aa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9fd1ff', endColorstr='#5281aa', GradientType=0);
}

.scoreResult_bar-body {
  position: relative;
  width: 100%;
  min-height: 25px;

  .scoreBarpipe {
    border-radius: 3px;
    height: 10px;
    width: 40%;
    position: absolute;
    top: 8px;

    .scoreBarpipe_Circle {
      background: #F7A34F;
      height: 10px;
      width: 10px;
      border-radius: 20px;
      top: 0px;
      position: absolute;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
      border: 1px solid #FFDEBE;
      left: 42%;
    }

    .scoreBarpipe_leftRight_Point {
      position: absolute;
      width: auto;
      font-size: 10px;
      top: -5px;
      color: #919191;
    }

    .scoreBarpipe_startpoint {
      left: -20px;
    }

    .scoreBarpipe_endpoint {
      right: -20px;
    }
  }
}


.currentMonth_Box {
  font-size: 15px;
  vertical-align: middle;
  padding: 0 15px;

  p {
    margin: 0px;
    line-height: normal;
  }

  .progressPipe_currentbg {
    height: 10px;
    width: 35px;
    display: inline-block;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);

  }
}

.scoreBarpipe.compareMonth_Result_Bar-Bg {
    top: 14px !important;
}
.sfpProject_table-comapreMode  {
    .scoreBarpipe.current_Result_Bar-Bg {
        top: 1px !important;
    }
}