<!-- <app-growler>
</app-growler> -->
<div class="loginOuter">

    <!-- <div class="loaderOuter" *ngIf="loading">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div> -->


    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="themeBg loginLogoSection text-center min-height100vh">
                <img src="assets/images/Adelante-Logo.png" alt="logo">
            </div>
        </div>
        <div class="col-md-6">
            <div class="loginForm min-height100vh">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img src="assets/images/Adelante-Logo.png" alt="logo" class="formTopLogoImg">
                        <p>Please log in using the credentials provided to you</p>
                    </div>

                    <div class="col-10 col-lg-8 col-xl-5 mt-4">
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" maxlength="80" trim="blur" class="form-control" placeholder="Enter Email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="email" trim="blur" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': (f.submitted && !email.valid) || (email.errors && email.errors.pattern) }"
                                    required>
                                <div *ngIf="f.submitted && !email.valid && !email.errors.pattern" class="invalid-feedback">
                                    <div>Email field is required</div>
                                </div>
                                <div *ngIf="email.errors && email.errors.pattern" class="invalid-feedback">
                                    <div>Please enter valid Email</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>

                                <input type="password" maxlength="80" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" trim="blur" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" required>

                                <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">
                                    <div>Password is required</div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a routerLink="/forgot-password"><u>Forgot password</u></a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block themeBtnBlue mt-5">Log In</button>
                        </form>
                        <div *ngIf="notValid" class="alert alert-danger mt-2">
                            <strong>{{message}}.</strong>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>