/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
* {
    outline: none;
    font-family: "Lato" !important;
}

.fa {
    font-family: FontAwesome !important;
}

html,
body {
    height: 100%;
    font-family: 'Lato' !important;
}

body {
    margin: 0;
    background: #EAEBF0 !important;
}

.br-bottomNone {
    border-bottom: none !important;
}

.bg_white {
    background: #fff;
}

.themeBg {
    background: #072441;
    /* Old browsers */
    background: -moz-linear-gradient(top, #072441 0%, #072542 53%, #0d3962 91%, #0b3760 100%, #0b3760 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #072441 0%, #072542 53%, #0d3962 91%, #0b3760 100%, #0b3760 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #072441 0%, #072542 53%, #0d3962 91%, #0b3760 100%, #0b3760 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#072441', endColorstr='#0b3760', GradientType=0);*/
    /* IE6-9 */
}

.inner-container {
    width: 100%;
    float: left;
    padding: 35px;
    padding-left: 283px;
    padding-top: 106px;
}

.min-height100vh {
    min-height: 100vh;
}

.loginOuter {
    min-height: 100vh;
    background: #fff;
}

.loginLogoSection {
    padding-top: 295px;
    img {
        max-width: 250px;
    }
}

input.form-control,
select.form-control {
    min-height: 38px;
    border: 1px solid #DEDEDF;
    font-size: 14px;
}

.form-group label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.loginForm {
    background: #fff;
    padding: 15px;
    padding-top: 160px;
    .formTopLogoImg {
        max-width: 170px;
    }
    p {
        color: #000000;
        opacity: 0.8;
        font-size: 16px;
        margin-top: 30px;
    }
}

.themeBtnBlue {
    background: #2185D0 !important;
}

.form-control::-webkit-input-placeholder {
    color: #B5B5B5;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #B5B5B5;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #B5B5B5;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #B5B5B5;
    opacity: 1
}

.form-control::placeholder {
    color: #B5B5B5;
    opacity: 1
}


/** White Box **/

.white_box-body {
    background: #fff;
    box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.2);
    padding: 15px;
    border-radius: 10px;
    h2 {
        margin-bottom: 0px;
        a {
            font-size: 20px;
            color: #555555;
            font-weight: 300;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


/** Nav Bar **/

.leftNav {
    width: 248px;
    min-height: 100vh;
    float: left;
    position: fixed;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
    z-index: 999;
}

.navcollapseIcon {
    text-align: right;
    a {
        font-size: 30px;
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
    }
}

.navLogo {
    min-height: 170px;
}

nav {
    ul {
        padding: 0px;
        list-style: none;
        margin-top: 35px;
        li {
            padding: 0px;
            margin: 0 0 12px 0;
            a {
                padding: 15px 15px;
                color: #fff;
                font-size: 14px;
                display: inline-block;
                background: #1c3852;
                width: 100%;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                    background: #244869;
                }
                i {
                    font-size: 26px !important;
                    vertical-align: sub;
                    margin-right: 10px;
                }
            }
        }
    }
}

.toggleMenu {
    .leftNav {
        width: 115px;
        nav {
            ul {
                li {
                    a {
                        text-align: center;
                        span {
                            opacity: 0;
                            display: none;
                        }
                        i {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .inner-container {
        padding-left: 150px;
    }
    .header_body {
        width: calc(100% - 115px) !important;
    }
}


/****/


/** Project page Top Header **/

.header_left-part {
    min-width: 58%;
    position: fixed;
    top: 20px;
    z-index: 9999;
    .projectTitleInputBox {
        height: 30px;
        font-size: 25px;
        color: #000;
        padding: 0px;
        border: none;
        vertical-align: middle;
        min-width: 55%;
    }
    .projectType {
        color: #555555;
        font-size: 12px;
        margin: 0 10px;
        display: inline-block;
    }
    a {
        color: #555555;
        font-size: 16px;
    }
    button.btn {
        padding: 4px 20px 7px 20px;
        line-height: normal;
    }
}


/** Theme Table **/

.header_left-part h3 {
    font-size: 25px;
    display: inline-block;
    margin-right: 20px;
}

.normal_table-outer {
    h2 {
        font-size: 25px;
        color: #666666;
        font-weight: 700;
        margin: 10px 0 15px 0;
    }
    table {
        thead {
            th {
                color: #666666;
                font-size: 16px;
                font-weight: 600;
                padding: 10px;
                border-top: none;
                text-align: center;
                &:first-child {
                    text-align: left;
                }
            }
        }
        tbody {
            tr {
                background: #F5F5F5;
                td {
                    color: #286DAD;
                    font-size: 12px;
                    padding: 7px 10px;
                    border-bottom: 3px solid #fff;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                    &:last-child {
                        a {
                            color: #555555;
                            font-size: 20px;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
    }
}


/** Application Setting page **/

.settingTabsOuter .nav-tabs {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.settingTabsOuter .nav-tabs .nav-item .nav-link {
    border: none !important;
    border-radius: 3px;
    padding: 8px 35px;
    line-height: normal;
    color: #333333;
    font-size: 13px;
    font-weight: 700;
}

.settingTabsOuter .nav-tabs .nav-item.show .nav-link,
.settingTabsOuter .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #0d3962;
    border: none !important;
    border-radius: 4px;
    line-height: normal;
    position: relative;
}

.settingTabsOuter .nav-tabs .nav-item:first-child .nav-link.active {
    border-radius: 3px 0 0px 3px;
}

.settingTabsOuter .nav-tabs {
    border: none;
}

.req {
    color: red;
}

.settingTabsOuter .nav-tabs .nav-link:focus,
.settingTabsOuter .nav-tabs .nav-link:hover {
    border: none;
    background: #0d3962;
    color: #fff;
}

.settingTabsOuter .tab-content {
    background: #fff;
    box-shadow: 0 0 3px 1px rgba(100, 100, 100, 0.2);
    padding: 15px;
    border-radius: 10px
}

.settingTabsOuter .nav-tabs .nav-item.show .nav-link:after,
.settingTabsOuter .nav-tabs .nav-link.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #0d3962;
    border-width: 6px;
    margin-left: -6px;
}

.toggleMenu {
    .navcollapseIcon {
        i {
            transform: rotate(180deg);
        }
    }
}

.loaderOuter {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


/** Media Query Start **/

@media screen and (max-width:991px) {
    .header_left-part {
        min-width: 100%;
        position: relative;
        top: 0;
        z-index: 999;
        background: #fff;
        display: inline-block;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .header_left-part .projectTitleInputBox {
        font-size: 18px;
        max-width: 50%;
    }
}

@media screen and (max-width:640px) {
    .header_left-part .projectTitleInputBox {
        font-size: 18px;
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {
    .loginOuter .min-height100vh {
        min-height: auto;
    }
    .loginLogoSection {
        padding: 40px 0;
        img {
            max-width: 180px;
        }
    }
    .loginForm {
        padding: 30px 15px;
    }
    .leftNav {
        width: 55px;
    }
    .toggleMenu .leftNav {
        width: 248px;
    }
    .inner-container,
    .toggleMenu .inner-container {
        padding: 20px;
        padding-left: 75px;
        padding-top: 106px;
    }
    .header_body,
    .toggleMenu .header_body {
        width: calc(100% - 55px) !important;
    }
    .leftNav nav ul li a span {
        display: none;
    }
    .toggleMenu .leftNav {
        width: 248px;
        z-index: 9999;
    }
    .toggleMenu .leftNav nav ul li a span {
        opacity: 1;
        display: inline-block;
    }
    .toggleMenu .leftNav nav ul li a i {
        width: auto;
    }
    .toggleMenu .leftNav nav ul li a {
        text-align: left;
    }
    .formTopLogoImg {
        display: none;
    }
}