.header_left-part {
    h3 {
        font-size: 24px;
    }
}
.project_settings-table {
    th {
        border-top: none;
    }
    td {
        padding: 5px 10px;
        &:first-child {
            border-left: 8px solid #0B3760;
        }
        p {
            color: #555555;
            font-size: 13px;
            font-weight: 700;
        }
        span {
            font-size: 11px;
            color: #919191;
        }
    }
    tr:last-child {
        td {
            border-bottom: 1px solid #dee2e6;
            &:first-child {
                border-left: 8px solid #0B376080;
            }
        }
    }
}
.addNewUserTextBox {
    border: none;
    width: 100%;
    height: 40px;
}
.input-group-text { cursor: pointer; }
.ng-select.form-control { padding: 0px; border: 0px; border-radius: 50%; }


div#btnOrganAddon {
    cursor: pointer;
}

.formSubOuterBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.buttonPOsSetBt {
    padding-bottom: 65px !important;
}