<app-growler>
</app-growler>
<app-header></app-header>
<div class="wrapper">
    <div class="loaderOuter" *ngIf="loading">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <app-nav-bar></app-nav-bar>
    <div class="inner-container headerTopPaddipad">
        <div class="header_left-part">
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <h3>Project Settings</h3>
                </div>
            </div>
        </div>

        <div class="white_box-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <!-- <button class="btn btn-info themeBtnBlue btn-sm" > Back </button> -->
                    <button data-toggle="modal" data-target="#backConfirmation" type="button" class="btn btn-primary themeBtnBlue btn-sm">Back</button>
                    <!-- <input type="text"  data-toggle="modal" data-target="#addUserModal" id="btnGroupAddon" placeholder="+ Add New User" class="addNewUserTextBox"> -->
                </div>
            </div>

            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onProjectSubmit(f.form)" novalidate>
                <div class="row justify-content-between">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>PROJECT NAME <span class="req"> *</span></label>
                            <input trim="blur" type="text" maxlength="100" class="form-control" name="projectName" [(ngModel)]="Project.projectName" #projectName="ngModel" required>
                            <div *ngIf="f.submitted && !projectName.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Project Name field is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group m-0">
                            <label>ORGANIZATION <span class="req"> *</span></label>
                        </div>
                        <div class="input-group mb-2 mr-sm-2">
                            <select name="organization" class="form-control" name="organization" [(ngModel)]="Project.organization" #organization="ngModel" required (change)="changeOrganization($event.target)">
                <!-- <option>--Select--</option> -->
                            <option *ngFor="let key of organizationList" [selected]="key.id ===lastOrgId" [value]="key.id">{{ key.user_name }}</option>
                        </select>
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="modal" data-target="#addorganization" id="btnOrganAddon"><i class="fa fa-plus"></i></div>
                            </div>
                            <a href="javascript:void(0)" id="closeAddOrgUserPopup" [hidden]="true" data-dismiss="modal" data-target="#addorganization">Close </a>


                            <div *ngIf="f.submitted && !organization.valid && !lastOrgId" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Organization field is required
                            </div>

                            <!-- <select name="organization"  class="form-control">
                <option *ngFor="let key of organizationList" [value]="key.id">{{ key.user_name }}</option>
            </select>  -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>PROJECT TYPE <span class="req"> *</span></label>
                            <!-- disabled="true" -->
                            <select class="form-control" [disabled]="pType" [(ngModel)]="Project.projectType" #projectType="ngModel" required name="projectType">
                                <option [ngValue]="null">--Select--</option>
                                <option [ngValue]="1">Strategic Operating Plan</option>
                                <option [ngValue]="2">Stakeholder Feedback Report</option>
                            </select>
                            <div *ngIf="f.submitted && !projectType.valid && !Project.projectType" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Project Type field is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>PROJECT OWNER <span class="req"> *</span></label>
                            <select class="form-control" id="projectOwner" [(ngModel)]="Project.projectOwner" #projectOwner="ngModel" required name="projectOwner">
                                <option [ngValue]="null">--Select--</option>
                                <option  *ngFor="let owner of ownerList" [value]="owner.id">{{ owner.user_name }}</option>
                            </select>
                            <div *ngIf="f.submitted && !projectOwner.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Project Owner field is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>INDIVIDUAL / GROUP {{Project.group | json}} {{group.valid}}<span class="req"> *</span></label>
                            <select class="form-control" [disabled]="gType" [(ngModel)]="Project.group" #group="ngModel" required name="group">
                                <option [ngValue]="null">--Select--</option>
                                <option [ngValue]="1" >INDIVIDUAL</option>
                                <option [ngValue]="2" >GROUP</option>
                            </select>
                            <div *ngIf="f.submitted && !group.valid && !Project.group" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Project Individual/Group field is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4" *ngIf="Project.group == 2">
                        <label>TEAM LEADER <span class="req"> *</span></label>
                        <input trim="blur" type="text" name="teamLeader" [(ngModel)]="Project.teamLeader" #teamLeader="ngModel" required class="form-control" />
                        <div *ngIf="f.submitted && !teamLeader.valid && Project.group == 2" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Team leader field is required
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-5">
                        <div class="form-group">
                            <label>CURRENT PERIOD <span class="req"> *</span></label>

                            <div class="input-group">
                                <input [(ngModel)]="Project.currentPeriod" #currentPeriod="ngModel" readonly class="form-control" placeholder="MM-YYYY" name="currentPeriod" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar" ></i></button>
                                </div>
                            </div>

                            <div *ngIf="f.submitted && !currentPeriod.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Current period field is required
                            </div>

                        </div>
                    </div>


                    <div class="col-md-3">
                        <label> &nbsp;</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="Project.projectActive" #projectActive="ngModel" required class="custom-control-input" id="projectActive" name="projectActive">
                            <label class="custom-control-label" for="projectActive">Project Active? </label>
                            <!-- <div *ngIf="f.submitted && !projectActive.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Project active field is required
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <label> &nbsp;</label>
                        <div class="custom-control custom-checkbox">
                            <button type="submit" class="btn btn-primary">Save Project</button>
                        </div>
                    </div>
                </div>

                <!-- <button type="submit" id="formSubmit" class="btn-submit">
        <span>Save</span>
    </button> -->
            </form>
            <!-- *ngIf="afterSave" -->
            <div class="row mt-5" id="afterSave" *ngIf="projectIdNotExist">
                <div class="col-md-12">
                    <div class="table-responsive project_settings-table">

                        <table class="table ">
                            <thead>
                                <th>User Name</th>
                                <th class="text-center">User active in project?</th>
                                <th class="text-center">Project Roles</th>
                            </thead>
                            <tbody>

                                <tr *ngFor="let showUser of projectUserList">
                                    <td>
                                        <p class="mb-0">{{showUser.user_name}}</p>
                                        <span>{{showUser.title}} | {{showUser.company_name}}</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1" (change)="assignProjectToUser($event)" [checked]="showUser.is_active == 1">
                                            <label class="custom-control-label" for="customCheck1"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Chifley Corporation (Executive Team)">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" data-toggle="modal" data-target="#addUserModal" id="btnGroupAddon" placeholder="+ Add New User" class="addNewUserTextBox">
                                    </td>
                                    <td class="text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--Add User -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title m-0" id="addUserModal">Add New User c</h3>
                    {{selectedUser | json}}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Select User</label> {{Adduserorganization.userRole|json}}
                            <div class="input-group mb-2 mr-sm-2">

                                <ng-select class="form-control" [items]="searchUsers" bindValue="id" bindLabel="user_name" placeholder="Select user" [(ngModel)]="selectedUser">
                                </ng-select>


                                <div class="input-group-prepend">
                                    <div class="input-group-text" data-toggle="modal" (click)="selectedUserAdd()">Add</div>
                                </div>

                            </div>
                            <div *ngIf="!projectIdNotExist" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Please add project.
                            </div>
                            <div *ngIf="notSelected" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User field is required
                            </div>


                            <div class="py-6 buttonPOsSetBt">
                                <input type="text" data-toggle="modal" (click)="onAddNewUserDirect()" placeholder="+ Add New User" class="addNewUserTextBox">
                                <div class="" *ngIf="DropdownVar == 2">

                                    <form class="" name="form" #forguser="ngForm" (ngSubmit)="forguser.form.valid && onAddUser(forguser.form)" novalidate>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input trim="blur" type="text" maxlength="100" name="usertitle" [(ngModel)]="Adduserorganization.usertitle" #usertitle="ngModel" required class="form-control" />
                                                    <div *ngIf="forguser.submitted && !usertitle.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User title field is required
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input trim="blur" type="text" maxlength="100" name="username" [(ngModel)]="Adduserorganization.username" #username="ngModel" required class="form-control" />
                                                    <div *ngIf="forguser.submitted && !username.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User name field is required
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email </label>
                                                    <input type="email" maxlength="100" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="useremail" [(ngModel)]="Adduserorganization.useremail" #useremail="ngModel" required class="form-control" />
                                                    <div *ngIf="forguser.submitted && !useremail.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Email field is invalid
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>User Role</label>
                                                    <select class="form-control" name="userRole" id="userRole" [(ngModel)]="Adduserorganization.userRole" #userRole="ngModel" required name="userRole">
                                                      <option *ngFor="let role of roleList" [value]="role.id">
                                                        {{ role.role }}</option>
                                                    </select>
                                                    <div *ngIf="forguser.submitted && !userRole.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User Role field is required
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <input type="text"  data-toggle="modal" (click)="adduser()" id="btnGroupAddon" placeholder="+ Add New User" class="addNewUserTextBox"> -->
                                            <div class="col-md-12 text-right">
                                                <button type="submit" id="closeModal" class="btn btn-primary themeBtnBlue">Add User</button>
                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!--Confirmation dialog box -->
    <div class="modal fade" id="backConfirmation" tabindex="-1" role="dialog" aria-labelledby="backConfirmation" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title m-0">Please confirm..</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body py-4">
                    <div class="row">
                        <div class="col-md-12">
                            Do you really want to ... ?
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" (click)="confirm()" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->

    <div class="modal fade" id="addorganization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title m-0" id="exampleModalLabel">Add Organizer</h3>
                    <!-- {{userlist | json}} -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body py-4 buttonPOsSetBt">
                    <form class="" name="form" #forg="ngForm" (ngSubmit)="forg.form.valid && onorganizationSubmit(forg.form)" novalidate>

                        <label><strong>Add Organization:</strong></label>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization Name</label>
                                    <input trim="blur" type="text" maxlength="100" class="form-control" name="orgname" [(ngModel)]="Organization.orgname" #orgname="ngModel" required>
                                    <div *ngIf="forg.submitted && !orgname.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Organization Name field is required
                                    </div>

                                    <!-- <input type="text" formControlName="orgname" maxlength="50" name="orgname" class="form-control" [ngClass]="{ 'is-invalid': submitted && formsub.orgname.errors }" /> -->


                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>

                                    <input type="email" maxlength="100" class="form-control" name="orgemail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="Organization.orgemail" #orgemail="ngModel" required>
                                    <div *ngIf="forg.submitted && !orgemail.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Organization Email field is required
                                        <!-- <div *ngIf="orgemail.errors && orgemail.errors.pattern" class="invalid-feedback requied-message"><i class="fa fa-exclamation-triangle"></i> Please enter a valid Email
                  </div> -->
                                    </div>


                                </div>
                            </div>
                            <div class="formSubOuterBtn text-right">
                                <button type="submit" class="btn btn-primary themeBtnBlue">Save changes</button>
                            </div>
                        </div>


                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->


                    </form>
                    <hr>
                    <!-- <button (click)="adduser()">Add input</button> -->

                    <label><strong>Add User:</strong></label>
                    <form class="" name="Userform" #forguser="ngForm" (ngSubmit)="forguser.form.valid && onAddUser(forguser.form)" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input trim="blur" type="text" maxlength="100" name="usertitle" [(ngModel)]="Adduserorganization.usertitle" #usertitle="ngModel" required class="form-control" />
                                    <div *ngIf="forguser.submitted && !usertitle.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User title field is required
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input trim="blur" type="text" maxlength="100" name="username" [(ngModel)]="Adduserorganization.username" #username="ngModel" required class="form-control" />
                                    <div *ngIf="forguser.submitted && !username.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User name field is required
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email </label>
                                    <input type="email" maxlength="100" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="useremail" [(ngModel)]="Adduserorganization.useremail" #useremail="ngModel" required class="form-control" />
                                    <div *ngIf="forguser.submitted && !useremail.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>Email field is invalid
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>User Role</label>
                                    <select class="form-control" name="userRole" id="userRole" [(ngModel)]="Adduserorganization.userRole" #userRole="ngModel" required name="userRole">
                                  <option *ngFor="let role of roleList" [value]="role.id">{{ role.role }}</option>
                                </select>
                                    <div *ngIf="forguser.submitted && !userRole.valid" class="invalid-feedback d-block"><i class="fa fa-exclamation-triangle"></i>User Role field is required
                                    </div>
                                </div>
                            </div>

                            <!-- <input type="text"  data-toggle="modal" (click)="adduser()" id="btnGroupAddon" placeholder="+ Add New User" class="addNewUserTextBox"> -->
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary themeBtnBlue">Add User</button>
                            </div>

                        </div>

                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive normal_table-outer">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody *ngIf="userlistArray">
                                        <tr *ngFor="let user of userlistArray; index as i">
                                            <td>{{user.usertitle}}</td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.useremail}}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="deleteUser($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!userlistArray">
                                        <tr>
                                            <td colspan="3">No ecord Found</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>